{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-fluid form-image">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="page-title">{% trans "Logout" %}</h1>
      <p class="account-text">{% trans 'Are you sure you want to logout?' %}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <form class="account-form" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn form-button" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}