/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Russo+One&display=swap');


/* Global Styles */

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: rgb(13, 74, 115);
    text-decoration: none;
    background-color: rgb(252, 254, 255);
    min-height: 100vh;
    position: relative;
}

main {
    padding-bottom: 60px;
}

/* navbar */

.navbar {
    margin-right: 25px;
    padding: 0;
}

.nav-link {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: rgb(13, 74, 115);
}

.nav-link:hover {
    color: rgb(103, 199, 237);
}

.dropdown-item {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: rgb(13, 74, 115);
}

.dropdown-item:hover {
    color: rgb(103, 199, 237);
}

.logo {
    max-height: 100px;
    margin-left: 25px;
    max-width: 100%;
}

/* footer */

footer {
    position: absolute;
    min-height: 40px;
    width: 100%;
    bottom: 0;
}

.footer-link {
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: rgb(13, 74, 115);
}

.footer-link:hover {
    color: rgb(103, 199, 237);
}

.copyright {
    text-align: end;
}

.image-attribute {
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 75%;
    color: rgba(158, 215, 240, 0.5);
    margin-top: 7px;
}

.attribute-link {
    color: rgba(158, 215, 240, 0.5);
    text-decoration: none;
}

.attribute-link:hover {
    color: rgba(103, 199, 237, 0.5);
}

/* home page */

.hero-image {
    width: 100%;
    height: 750px;
    background: url('https://res.cloudinary.com/dzgzb3yx8/image/upload/v1673722786/lab-boss/hero_cmurhw.png') no-repeat center center;
    background-size: cover;
}

.hero-text {
    font-family: 'Russo One', sans-serif;
    margin-top: 150px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 600%;
}

.tagline {
    font-family: 'Russo One', sans-serif;
    font-size: 175%;
}

.home-text{
    margin-top: 25px;
}

.button {
    font-weight: 700;
    font-size: 100%;
    background-color: rgb(13, 74, 115);
    color: rgb(252, 254, 255);
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.button:hover {
    background-color: rgb(252, 254, 255);
    border-color: rgb(13, 74, 115);
    color: rgb(13, 74, 115);
}

/* Contact Us Page */

.contact_title {
    margin-top: 125px;
}

.contact-container {
    margin-top: 75px;
}

.contact-details {
    font-weight: 800;
    font-size: 110%;
    margin-bottom: 10px;
}

.map-container {
    width: 30%;
    margin: auto;
} 

.map {
    margin-top: 75px;
    min-height: 300px;
}

/* Allauth account forms */

.account-title {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
}

.account-text {
    margin-left: 15px;
    margin-right: 15px;
}

.url-link {
    color: rgb(27, 139, 204);
    text-decoration: none;
}

.url-link:hover {
    color: rgb(103, 199, 237);
}

.center-form {
    display: flex;
    justify-content: center;
    width: 10%;
}

.account-form input {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 90%;
    padding: 4px;
    color: rgb(13, 74, 115);
    border: 1px solid rgb(13, 74, 115);
    margin-bottom: 5px;
}

.account-form > p {
    text-align: center;
}

/* Multiple content pages */

.form-image {
    width: 100%;
    height: 750px;
    background: url('https://res.cloudinary.com/dzgzb3yx8/image/upload/v1673787102/lab-boss/forms_wsh7ln.png') no-repeat center center;
    background-size: cover;
}

.form-button {
    font-weight: 700;
    font-size: 100%;
    background-color: rgb(13, 74, 115);
    color: rgb(252, 254, 255);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    margin: auto;
}

.form-button:hover {
    font-weight: 700;
    font-size: 100%;
    background-color: rgb(252, 254, 255);
    border-color: rgb(13, 74, 115);
    color: rgb(13, 74, 115);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    margin: auto;
}

.page-title {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.page-button, .filter-dropdown {
    font-weight: 700;
    background-color: rgb(13, 74, 115);
    color: rgb(252, 254, 255);
}

.page-button:hover, .filter-dropdown:hover {
    background-color: rgb(252, 254, 255);
    border-color: rgb(13, 74, 115);
    color: rgb(13, 74, 115);
}

.icon-button {
    color: rgba(14, 99, 148, 0.75);
}

.icon-button:hover {
    color: rgb(13, 74, 115);
}

.toggle-button {
    background: none;
    border: none;
    padding-left: 12px;
    font-size: 120%;
}

.choices {
    margin-bottom: 20px;
}

.choice-link {
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(13, 74, 115);
}

.choice-link:hover {
    color: rgb(103, 199, 237);
}

.active {
    color: rgb(13, 74, 115);
    border-bottom: 2px solid rgb(13, 74, 115);
}

.active:hover {
    border-bottom: 2px solid rgb(103, 199, 237);
}

.filter-dropdown {
    margin: auto;
    display: block;
}

/* Table properties */

.table-container {
    overflow-x: auto;
    width: 90%;
    margin-left: 5%;
}

.batch-table, th, td {
    border: 1px solid rgb(13, 74, 115);
}

.batch-table-headings {
    text-transform: uppercase;
}

.batch-table-contents {
    font-weight: 400;
}

.batch-table-contents:hover {
    background-color: rgba(14, 99, 148, 0.25);
}

table tr:nth-child(even){
    background-color: rgba(14, 99, 148, 0.1);
}

.table-priority-column {
    width: 7%;
}

.table-batch-column {
    width: 8%;
}

.table-status-column {
    width: 12%;
}

.table-material-column {
    width: 15%;
}

.table-date-column {
    width: 10%;
}

.table-modify-column {
    width: 5%;
}

/* Update database pages */

.confirm-title {
    margin-top: 100px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.confirm-text {
    margin-top: 25px;
    font-size: 150%;
    font-weight: 800;
}

.confirm-button {
    font-weight: 700;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.delete-button {
    background-color: rgb(180, 20, 20);
    color: rgb(252, 254, 255);
}

.delete-button:hover {
    background-color: rgb(252, 254, 255);
    border-color: rgb(180, 20, 20);
    color: rgb(180, 20, 20);
}

.delete-card {
    margin: auto;
    padding: 0;
}

/* Scheduler Page */

.card-body {
    background-color: rgba(14, 99, 148, 0.1);
    padding-left: 5px;
    padding-right: 5px;
}

.edit-card-btn {
    margin-bottom: 0;
    margin-top: -10px;
    margin-left: 5px;
}

.delete-card-btn {
    margin-left: 85%;
    margin-top: -25px;
    margin-bottom: 0px;
}

.all-delete-card-btn {
    margin-left: 85%;
    margin-top: -13px;
    margin-bottom: 0px;
}

.strike {
    color: rgba(13, 74, 115, 0.6);
    text-decoration: line-through;
}

.card-text {
    margin-bottom: 7px;
}

/* Pagination */

.pagination-link {
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
    color: rgb(13, 74, 115);
}

.pagination-link:hover {
    color: rgb(103, 199, 237);
}

.current {
    margin-left: 10px;
    margin-right: 10px;
}

/* error pages */

.error-heading {
    font-family: 'Russo One', sans-serif;
    margin-top: 150px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 400%;
}

.error-text {
    margin-top: 50px;
    font-weight: 700;
    font-size: 150%;
}

/* media queries */

/* screen size 1200px wide and below */

@media screen and (max-width: 1200px) {
    .batch-table {
        font-size: 75%;
    }

    .choice-link {
        font-size: 75%;
    }

    .batch-table-headings {
        font-size: 85%;
    }

    .table-batch-column {
        width: 10%;
    }
    
    .table-status-column {
        width: 9%;
    }
    
    .table-material-column {
        width: 15%;
    }
    
    .table-date-column {
        width: 10%;
    }
    
    .table-modify-column {
        width: 5%;
    }

    .toggle-button {
        padding-left: 3px;
    }

    .filter-dropdown {
        font-size: 75%;
    }

    .page-button, .delete-button {
        font-size: 85%;
    }

    .map-container {
        width: 40%;
    }
    
}

/* screen size 800px wide and below */

@media screen and (max-width: 800px) {
    .hero-text {
        margin-top: 100px;
        font-size: 300%;
    }

    .tagline {
        font-size: 150%;
    }
    
    .page-title {
        font-size: 150%;
    }

    .footer-container {
        font-size: 75%;
        width: 100%;
        text-align: center;
    }

    .image-attribute {
        margin-top: 0;
    }

    .copyright {
        text-align: center;
        font-size: 60%;
    }

    .pagination-link, .current {
        font-size: 75%;
    }

    .filter-dropdown {
        font-size: 75%;
        display: block;
        margin: auto;
    }

    .page-button, .delete-button {
        font-size: 85%;
    }

    .confirm-text {
        font-size: 110%;
    }
}

/* screen size 570px wide and below */

@media screen and (max-width: 570px) {
    .logo {
        max-height: 75px;
    }
    
    .contact_title {
        margin-top: 50px;
    }

    .contact-container {
        margin-top: 25px;
    }

    .contact-details {
        font-size: 75%;
    }
    
    .map-container {
        width: 80%;
        padding: 0;
        margin-top: -60px;
    }

    .home-text {
        padding: 0;
    }

    .button {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}
