/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Russo+One&display=swap');


/* Global Styles */

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: rgb(13, 74, 115);
    text-decoration: none;
    background-color: rgb(252, 254, 255);
    min-height: 100vh;
    position: relative;
}

main {
    padding-bottom: 60px;
}

/* navbar */

.navbar {
    margin-right: 25px;
}

.nav-link {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: rgb(13, 74, 115);
}

.nav-link:hover {
    color: rgb(103, 199, 237);
}

.dropdown-item {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: rgb(13, 74, 115);
}

.dropdown-item:hover {
    color: rgb(103, 199, 237);
}

.logo {
    height: 100px;
    margin-left: 25px;
}

/* footer */

footer {
    position: absolute;
    min-height: 40px;
    width: 100%;
    bottom: 0;
}

.footer-link {
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: rgb(13, 74, 115);
}

.footer-link:hover {
    color: rgb(103, 199, 237);
}

.image-attribute {
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 75%;
    color: rgba(158, 215, 240, 0.5);
    margin-top: 7px;
}

.attribute-link {
    color: rgba(158, 215, 240, 0.5);
    text-decoration: none;
}

.attribute-link:hover {
    color: rgba(103, 199, 237, 0.5);
}

/* home page */

.hero-image {
    width: 100%;
    height: 750px;
    background: url('https://res.cloudinary.com/dzgzb3yx8/image/upload/v1673722786/lab-boss/hero_cmurhw.png') no-repeat center center;
    background-size: cover;
}

.hero-text {
    font-family: 'Russo One', sans-serif;
    margin-top: 150px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 600%;
}

.tagline {
    font-family: 'Russo One', sans-serif;
    font-size: 175%;
}

.home-text{
    margin-top: 25px;
}

.button {
    font-weight: 700;
    font-size: 100%;
    background-color: rgb(13, 74, 115);
    color: rgb(252, 254, 255);
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.button:hover {
    background-color: rgb(252, 254, 255);
    border-color: rgb(13, 74, 115);
    color: rgb(13, 74, 115);
}

/* Allauth account forms */

.account-title {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 50px;
}

.account-text {
    margin-left: 15px;
    margin-right: 15px;
}

.url-link {
    color: rgb(27, 139, 204);
    text-decoration: none;
}

.url-link:hover {
    color: rgb(103, 199, 237);
}

.center-form {
    display: flex;
    justify-content: center;
    width: 10%;
}

.account-form input {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 90%;
    padding: 4px;
    color: rgb(13, 74, 115);
    border: 1px solid rgb(13, 74, 115);
    margin-bottom: 5px;
}

.account-form > p {
    text-align: center;
}

/* Multiple content pages */

.form-image {
    width: 100%;
    height: 750px;
    background: url('https://res.cloudinary.com/dzgzb3yx8/image/upload/v1673787102/lab-boss/forms_wsh7ln.png') no-repeat center center;
    background-size: cover;
}

.form-button {
    font-weight: 700;
    font-size: 100%;
    background-color: rgb(13, 74, 115);
    color: rgb(252, 254, 255);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    margin: auto;
}

.page-title {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.page-button {
    font-weight: 700;
    background-color: rgb(13, 74, 115);
    color: rgb(252, 254, 255);
}

.page-button:hover {
    background-color: rgb(252, 254, 255);
    border-color: rgb(13, 74, 115);
    color: rgb(13, 74, 115);
}

.icon-button {
    color: rgba(14, 99, 148, 0.75);
}

.icon-button:hover {
    color: rgb(13, 74, 115);
}

.toggle-button {
    background: none;
    border: none;
    padding-left: 12px;
    font-size: 120%;
}

/* Table properties */

.table-container {
    overflow-x: auto;
    width: 90%;
    margin-left: 5%;
}

.batch-table, th, td {
    border: 1px solid rgb(13, 74, 115);
}

.batch-table-headings {
    text-transform: uppercase;
}

.batch-table-contents {
    font-weight: 400;
}

.batch-table-contents:hover {
    background-color: rgba(14, 99, 148, 0.25);
}

table tr:nth-child(even){
    background-color: rgba(14, 99, 148, 0.1);
}

.table-priority-column {
    width: 7%;
}

.table-batch-column {
    width: 8%;
}

.table-status-column {
    width: 9%;
}

.table-material-column {
    width: 15%;
}

.table-date-column {
    width: 10%;
}

.table-modify-column {
    width: 5%;
}

/* Materials */

.material-name {
    font-weight: 400;
}

/* Update database pages */

.confirm-title {
    margin-top: 100px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.confirm-text {
    margin-top: 25px;
    font-size: 150%;
    font-weight: 800;
}

.confirm-button {
    font-weight: 700;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.delete-button {
    background-color: rgb(180, 20, 20);
    color: rgb(252, 254, 255);
}

.delete-button:hover {
    background-color: rgb(252, 254, 255);
    border-color: rgb(180, 20, 20);
    color: rgb(180, 20, 20);
}

.delete-card {
    margin: auto;
    padding: 0;
}

/* Tracker Pages */

.trackers {
    margin-bottom: 20px;
}

.tracker-link {
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(13, 74, 115);
}

.tracker-link:hover {
    color: rgb(103, 199, 237);
}

.active {
    color: rgb(13, 74, 115);
    border-bottom: 2px solid rgb(13, 74, 115);
}

.active:hover {
    border-bottom: 2px solid rgb(103, 199, 237);
}

/* Scheduler Page */

.card-body {
    background-color: rgba(14, 99, 148, 0.1);
}

.edit-card-btn {
    margin-bottom: 0;
    margin-top: -10px;
}

.delete-card-btn {
    margin-left: 95%;
    margin-top: -25px;
    margin-bottom: 0px;
}

/* Pagination */

.pagination-link {
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
    color: rgb(13, 74, 115);
}

.pagination-link:hover {
    color: rgb(103, 199, 237);
}

.current {
    margin-left: 10px;
    margin-right: 10px;
}