{% extends "base.html" %}
{% block title %}Lab Boss - Update Material{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid form-image">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="confirm-title">Update Material: {{ material.name }}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-5 text-center">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }} 
                <button class="btn confirm-button page-button" type="submit">Save</button>
                <a class="btn confirm-button page-button" href="{% url 'materials' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{%endblock%}