{% extends "base.html" %}
{% block title %}Lab Boss - All Batches{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">Batch Tracker</h1>
        </div>
    </div>

    <div class="row choices">
        <div class="col-4 mt-1 text-center">
            <a href="{% url 'priority_tracker' %}" class="choice-link">
                Priority Batches To Test
            </a>
        </div>
        <div class="col-4 mt-1 text-center">
            <a href="{% url 'tracker' %}" class="choice-link">
                Batches To Test
            </a>
        </div>
        <div class="col-4 mt-1 text-center">
            <a href="{% url 'all_tracker' %}" class="active choice-link">
                All Batches
            </a>
        </div>
    </div>

    <div class="row">
        <div class="dropdown">
            <button type="button" class="col-lg-2 col-4 offset-lg-5 offset-4 btn page-button mb-2 dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                Filter Table
            </button>
            <form class="dropdown-menu p-4" method="GET">
                {{ filter.form | crispy }}
                <div class="text-center">
                    <button class="btn page-button mt-4" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row table-container">
        <table class="col mt-1 batch-table text-center">
            <tr class="batch-table-headings">
                <th class="table-priority-column">Priority</th>
                <th class="table-batch-column">Batch</th>
                <th class="table-material-column">Material</th>
                <th class="table-date-column">Booked In</th>
                <th class="table-date-column">Due Date</th>
                <th>Comments</th>
                <th class="table-status-column">Status</th>
            </tr>
            {% for batch in all_batches %}
            <tr class="batch-table-contents">
                <td>
                    {% if batch.priority == True %}
                    <i class="fa-solid fa-circle-exclamation"></i>
                    {% endif %}
                </td>
                <td>{{ batch.batch }}</td>
                <td>{{ batch.material }}</td>
                <td>{{ batch.booked_in|date:"d M Y" }}</td>
                <td>{{ batch.due_date|date:"d M Y" }}</td>
                <td>{{ batch.comments }}</td>
                <td>
                    <form action="{% url 'toggle_batch_all' pk=batch.id %}" method="POST">
                        {% csrf_token %}
                        {% if batch.status == "Approved" %}
                        {{ batch.status }}
                        <button class="icon-button toggle-button" type="submit" name="batch_id" value="{{batch.id}}"><i
                                class="fa-solid fa-toggle-on"></i></button>
                        {% else %}
                        {{ batch.status }}
                        <button class="icon-button toggle-button" type="submit" name="material_id"
                            value="{{material.id}}"><i class="fa-solid fa-toggle-off"></i></button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row">
        {% include "paginator.html" %}
    </div>

</div>

{%endblock%}