{% extends "base.html" %}
{% block title %}Lab Boss - All Batches{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">Batch Tracker</h1>
        </div>
    </div>
    
    <div class="row trackers">
        <div class="col-4 mt-1 text-center">
            <a href="{% url 'priority_tracker' %}" class="tracker-link">
                Priority Batches To Test
            </a>
        </div>
        <div class="col-4 mt-1 text-center">
            <a href="{% url 'tracker' %}" class="tracker-link">
                Batches To Test
            </a>
        </div>
        <div class="col-4 mt-1 text-center">
            <a href="{% url 'all_tracker' %}" class="active tracker-link">
                All Batches
            </a>
        </div>
    </div>

    <div class="row table-container">
        <table class="col mt-1 batch-table text-center">
            <tr class="batch-table-headings">
                <th class="table-priority-column">Priority</th>
                <th class="table-batch-column">Batch</th>
                <th class="table-material-column">Material</th>
                <th class="table-date-column">Booked In</th>
                <th class="table-date-column">Due Date</th>
                <th>Comments</th>
                <th class="table-status-column">Status</th>
            </tr>
            {% for batch in batch_list %}
            <tr class="batch-table-contents">
                <td>
                    {% if batch.priority == True %}
                    <i class="fa-solid fa-circle-exclamation"></i>
                    {% endif %}
                </td>
                <td>{{ batch.batch }}</td>
                <td>{{ batch.material }}</td>
                <td>{{ batch.booked_in|date:"d M Y" }}</td>
                <td>{{ batch.due_date|date:"d M Y" }}</td>
                <td>{{ batch.comments }}</td>
                <td>
                    <form action="{% url 'toggle_batch' pk=batch.id %}" method="POST">
                        {% csrf_token %}
                        {% if batch.status == "To Test" %}
                        {{ batch.status }}
                        <button class="icon-button toggle-button" type="submit" name="batch_id" value="{{batch.id}}"><i class="fa-solid fa-toggle-off"></i></button>
                        {% else %}
                        {{ batch.status }}
                        <button class="icon-button toggle-button" type="submit" name="batch_id" value="{{batch.id}}"><i class="fa-solid fa-toggle-on"></i></button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row">
        {% include "paginator.html" %}>
        <div class="col-12 mt-4 text-center">
            <a href="{% url 'add_batch' %}" class="btn page-button">
                Add New Batch
            </a>
        </div>
    </div>

</div>

{%endblock%}