{% extends "base.html" %}
{% block title %}Lab Boss - All Cards{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">Scheduler</h1>
        </div>
    </div>

    <div class="row choices">
        <div class="col-lg-6 col-sm-12 mt-1 text-center">
            <a href="{% url 'scheduler' %}" class="choice-link">
                Cards To Test
            </a>
        </div>
        <div class="col-lg-6 col-sm-12 mt-1 text-center">
            <a href="{% url 'all_scheduler' %}" class="active choice-link">
                All Cards
            </a>
        </div>
    </div>

    <div class="row">
        <div class="dropdown">
            <button type="button" class="col-lg-2 col-xs-12 btn mb-2 dropdown-toggle filter-dropdown"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                Filter Cards
            </button>
            <form class="dropdown-menu p-4" method="GET">
                {{ filter.form | crispy }}
                <div class="text-center">
                   <button class="btn page-button mt-4" type="submit">Search</button> 
                </div>
            </form>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-3 g-3 justify-content-center">
        {% for workload in filter.qs %}
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    {% if workload.status == 'Completed' %}
                    {% if perms.scheduler.delete_workload %}
                    <p class="all-delete-card-btn">
                        <a class="icon-button" href="{% url 'all_delete_workload' pk=workload.id %}"><i
                                class="fa-solid fa-square-xmark"></i></a>
                        
                    </p>
                    {% endif %}
                    <p class="card-text"><strike>{{ workload.status }}</strike></p>
                    <p class="card-text"><strike>{{ workload.test_date|date:"d M Y" }}</strike></p>
                    <p class="card-text"><strike>{{ workload.analyst }}</strike></p>
                    <p class="card-text"><strike>{{ workload.test }}</strike></p>
                    {% if workload.comment != "" %}
                    <p class="card-text"><strike>{{ workload.comment }}</strike></p>
                    {% else %}
                    <br>
                    {% endif %}
                    <p>
                        <form action="{% url 'all_toggle_workload' pk=workload.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn page-button" type="submit" name="workload_id"
                                value="{{workload.id}}">Toggle Status</button>
                        </form>
                    </p>
                    {% else %}
                    {% if perms.scheduler.delete_workload %}
                    <p class="all-delete-card-btn">
                        <a class="icon-button" href="{% url 'all_delete_workload' pk=workload.id %}"><i
                                class="fa-solid fa-square-xmark"></i></a>
                    </p>
                    {% endif %}
                    <p class="card-text">{{ workload.status }}</p>
                    <p class="card-text">{{ workload.test_date|date:"d M Y" }}</p>
                    <p class="card-text">{{ workload.analyst }}</p>
                    <p class="card-text">{{ workload.test }}</p>
                    {% if workload.comment != "" %}
                    <p class="card-text">{{ workload.comment }}</p>
                    {% else %}
                    <br>
                    {% endif %}
                    {% if perms.scheduler.change_workload %}
                    <p>
                        <form action="{% url 'all_toggle_workload' pk=workload.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn page-button" type="submit" name="workload_id"
                                value="{{workload.id}}">Toggle Status</button>
                        </form>
                    </p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        {% include "paginator.html" %}
    </div>

</div>

{%endblock%}