{% extends "base.html" %}
{% block title %}Lab Boss - Analysts{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">Analysts</h1>
        </div>
    </div>

    <div class="row table-container">
        <table class="col batch-table text-center">
            <tr class="batch-table-headings">
                <th class="table-status-column">Work ID</th>
                <th class="table-material-column">Analyst</th>
                <th class="table-status-column">Status</th>
                <th class="table-modify-column">Edit</th>
                <th class="table-modify-column">Delete</th>
            </tr>
            {% for analyst in analyst_list %}
            <tr class="batch-table-contents">
                <td>{{ analyst.work_id }}</td>
                <td>{{ analyst.name }}</td>
                <td>
                    <form action="{% url 'toggle_analyst' pk=analyst.id %}" method="POST">
                        {% csrf_token %}
                        {% if analyst.status == "Active" %}
                        {{ analyst.status }}
                        <button class="icon-button toggle-button" type="submit" name="analyst_id" value="{{analyst.id}}"><i class="fa-solid fa-toggle-on"></i></button>
                        {% else %}
                        {{ analyst.status }}
                        <button class="icon-button toggle-button" type="submit" name="analyst_id" value="{{analyst.id}}"><i class="fa-solid fa-toggle-off"></i></button>
                        {% endif %}
                    </form>
                </td>
                <td>
                    <a class="icon-button" href="{% url 'update_analyst' pk=analyst.id %}"><i class="fa-solid fa-pencil"></i></a>
                </td>
                <td>
                    <a class="icon-button" href="{% url 'delete_analyst' pk=analyst.id %}"><i class="fa-solid fa-square-xmark"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="row">
        {% include "paginator.html" %}
        <div class="col-12 mt-4 text-center">
            <a href="{% url 'add_analyst' %}" class="btn page-button">
                Add New Analyst
            </a>
        </div>
    </div>
</div>

{%endblock%}