{% extends "base.html" %}
{% block title %}Lab Boss - Delete Analyst{% endblock %}
{% block content %}

<div class="container-fluid form-image">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="confirm-title">Delete Analyst?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <form method="post">
                {% csrf_token %}
                <p class="confirm-text">Are you sure you want to delete analyst: {{ analyst.name }}?</p>
                <p class="confirm-text">This action is permanent and cannot be undone.</p>
                <button class="btn confirm-button delete-button" type="submit">Delete</button>
                <a class="btn confirm-button page-button" href="{% url 'analysts' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{%endblock%}