{% extends "base.html" %}
{% block title %}Lab Boss - Home{% endblock %}
{% block content %}

<div class="container-fluid hero-image">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="hero-text">lab boss</h1>
            <h3 class="tagline">for your laboratory planning needs</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center home-text">
            {% if user.is_authenticated %}
            <p>Please select the option you require</p>
            <a class="btn button" href="{% url 'tracker' %}" role="button">Batch Tracker</a>
            <a class="btn button" href="#" role="button">Scheduler</a>
            {% else %}
            <p>Please login or register to connect to your laboratory</p>
            <a class="btn button" href="{% url 'account_login' %}" role="button">Login</a>
            <a class="btn button" href="{% url 'account_signup' %}" role="button">Register</a>
            {% endif %}
        </div>
    </div>
</div>
</div>

{%endblock%}