{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>lab boss</h1>
            <h3>for all your laboratory planning needs</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- if user is authenticated -->
            <p>Please login or register to connect to your laboratory:</p>
            <a class="btn" href="#" role="button">Login</a>
            <a class="btn" href="#" role="button">Register</a>
            <!-- if user is not authenticated -->
            <p>Please select the page you require:</p>
            <a class="btn" href="{% url 'tracker' %}" role="button">Batch Tracker</a>
            <a class="btn" href="#" role="button">Scheduler</a>
        </div>
    </div>
</div>
</div>

{%endblock%}