{% extends "base.html" %}
{% block title %}Lab Boss - Priority Batches{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">Batch Tracker</h1>
        </div>
    </div>
    
    <div class="row trackers">
        <div class="col-4 mt-1 text-center">
            <a href="{% url 'priority_tracker' %}" class="active tracker-link">
                Priority Batches To Test
            </a>
        </div>
        <div class="col-4 mt-1 text-center">
            <a href="{% url 'tracker' %}" class="tracker-link">
                Batches To Test
            </a>
        </div>
        <div class="col-4 mt-1 text-center">
            <a href="{% url 'all_tracker' %}" class="tracker-link">
                All Batches
            </a>
        </div>
    </div>

    <div class="row table-container">
        <table class="col mt-1 batch-table text-center">
            <tr class="batch-table-headings">
                <th class="table-priority-column">Priority</th>
                <th class="table-batch-column">Batch</th>
                <th class="table-material-column">Material</th>
                <th class="table-date-column">Booked In</th>
                <th class="table-date-column">Due Date</th>
                <th>Comments</th>
                <th class="table-status-column">Status</th>
            </tr>
            {% for batch in batch_list %}
            {% if batch.status == 'To Test' %}
            <tr class="batch-table-contents">
                <td><i class="fa-solid fa-circle-exclamation"></i></td>
                <td>{{ batch.batch }}</td>
                <td>{{ batch.material }}</td>
                <td>{{ batch.booked_in|date:"d M Y" }}</td>
                <td>{{ batch.due_date|date:"d M Y" }}</td>
                <td>{{ batch.comments }}</td>
                <td>{{ batch.status }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>

    <div class="row">
        {% include "paginator.html" %}
    </div>

</div>

{%endblock%}