{% extends "base.html" %}
{% block title %}Lab Boss - Scheduler{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">Scheduler</h1>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-6 row-cols-md-4 row-cols-sm-3 g-4 justify-content-center">
        {% for workload in workload_list %}
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <p class="edit-card-btn text-start">
                        <a class="icon-button" href="{% url 'update_workload' pk=workload.id %}"><i class="fa-solid fa-pencil"></i></a>
                    </p>
                    <p class="delete-card-btn">
                        <a class="icon-button" href="{% url 'delete_workload' pk=workload.id %}"><i class="fa-solid fa-square-xmark"></i></a>
                    </p>
                    <p>{{ workload.test_date|date:"d M Y" }}</p>
                    <p>{{ workload.analyst }}</p>
                    <p>{{ workload.test }}</p>
                    {% if workload.comment != "" %}
                    <p class="card-bottom">{{ workload.comment }}</p>
                    {% else %}
                    <br>
                    {% endif %}
                    <p class="card-button">
                        <a class="btn page-button" href="#">Complete</i></a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        {% include "paginator.html" %}
        <div class="col-12 mt-4 text-center">
            <a href="{% url 'add_workload' %}" class="btn page-button">
                Add New Card
            </a>
        </div>
    </div>

</div>

{%endblock%}