{% extends "base.html" %}
{% block title %}Lab Boss - Batch Tracker{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="page-title">Batch Tracker</h1>
        </div>
    </div>
    <div class="row table-container">
        <table class="col batch-table text-center">
            <tr class="batch-table-headings">
                <th class="table-priority-column">Priority</th>
                <th class="table-batch-column">Batch</th>
                <th class="table-material-column">Material</th>
                <th class="table-date-column">Booked In</th>
                <th class="table-date-column">Due Date</th>
                <th>Comments</th>
                <th class="table-status-column">Status</th>
                <th class="table-modify-column">Edit</th>
                <th class="table-modify-column">Delete</th>
            </tr>
            {% for batch in batch_list %}
            <tr class="batch-table-contents">
                <td>
                    {% if batch.priority == True %}
                    <i class="fa-solid fa-circle-exclamation"></i>
                    {% endif %}
                </td>
                <td>{{ batch.batch }}</td>
                <td>{{ batch.material }}</td>
                <td>{{ batch.booked_in|date:"d M Y" }}</td>
                <td>{{ batch.due_date|date:"d M Y" }}</td>
                <td>{{ batch.comments }}</td>
                <td>{{ batch.status }}</td>
                <td>
                    <a class="icon-button" href="#"><i class="fa-solid fa-pencil"></i></a>
                </td>
                <td>
                    <a class="icon-button" href="#"><i class="fa-solid fa-square-xmark"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <div class="col-5 mt-4 text-start offset-md-1">
            <a href="#" class="btn page-button">
                Add New Batch
            </a>
        </div>
        {% include "paginator.html" %}
    </div>

</div>

{%endblock%}